section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image : url(images.html/porsche-911-turbo-s-black-background-amoled-pitch-black-3840x2880-7730.jpg) no-repeat;
    background-size: cover;
    background-position:center ;
}
h2{
    margin: 0px;
}
a:link{
    color:white;
    text-decoration: none;
    margin :5px;
}
a:hover{
    color: grey;
}
a:visited{
    color: rgb(250, 246, 246);
}
nav{
    font-size: small;

}
   

nav ul{
    list-style: none;
    margin: 0px;

}
nav li{
    display: inline-block;
    margin-right: 1rem;

}
header{
    background-color: black;
    color: white;
   margin :0px;
}
