.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: black;
    color: white;
    padding: 4px;
    border: none;
    cursor: pointer;
}
.dropdown a {
    display: black;
    color: white;
    text-decoration: none;
    padding: 8px;
}
.dropdown .content{
    display: none;
    position:absolute;
    background-color: grey;
    min-width: 100px;
    box-sizing: 2px 2px 5px whitesmoke;
}
.dropdown:hover.content{
    display: block;
}
.dropdown:hover button{
    background-color: rgb(57, 57, 57);
    
}


h2{
    background-color: black ;
    margin:2px;
    padding: 7px;
}
p{
    color: white;
}

main{
    margin:0px;
    padding: 0px;
    background-position: center;
    background-color: black;
}
body{
    margin:0px;
    padding: 0px;
    background-color: black;
    color: white;
}
header{
    background-color: black;
    color: white;
    margin: 0px;
}
nav a:hover{
    color: rgb(102, 99, 99);
    
}

nav ul{
    list-style: none;/*removes the bulletins*/
    margin: 0px;
    overflow: hidden;
    text-align: left;
}
nav{
    margin: 0px;
}
nav li{
    display: inline-block;  /*puts the links in one line*/
    margin-right: 1rem ; /*makes the links to be spaced to the right*/
    color: white;
    padding: 2px;

   
}
nav a:link{
    color: white;
    text-decoration: none;
    display: block;

}
a:visited{
    color: white;
}
ul{
    text-align: left;
}
footer{
    display: block;
    clear:both;
    text-align: center;
    padding: 0px;
    background-color: black;
margin:0px;

}
.second{
    text-align: center;
    margin: 4px;
}


section{
    border: 1px solid black ;
    margin : 7px;
    padding: 7px;
}
